//#### Text

$very-dark-desaturated-blue: hsl(238, 29%, 16%);//active/bold
$soft-red: hsl(14, 88%, 65%);//arrow

//#### Gradient

$soft-violet: hsl(273, 75%, 66%);//top
$soft-blue: hsl(240, 73%, 65%);//bottom

$mobile: 375px;
$desktop: 1440px;

//#### Text

$very-dark-grayish-blue: hsl(237, 12%, 33%); //not active
$dark-grayish-blue: hsl(240, 6%, 50%); // answer

//#### Dividers

$light-grayish-blue: hsl(240, 5%, 91%); //divider

//## Typography

//### Body Copy

$font-size: 12px;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');